@font-face
{
    font-family: voidpixel;
    src: url('assets/VoidPixel.ttf');
}

html, body {
    overflow: hidden;
    margin: 0 0 0 0;
    background-color: #000000;
    height: 100%;
}

#fit, #main_canvas {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}

#preloader {
    margin: auto;
    margin-top: 60px;

    width: 1000px;
    height: 620px;

    background-color: #FFFFFF;
}

#preloader img {
    display: block;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}